/**
 * Image gallery
 */

.image-gallery {
  display: flex;
  width: 100%;
  width: calc(100% + 22rem);
  margin-top: 2rem;
  margin-bottom: 1rem;
  margin-left: -10rem;

  flex-wrap: wrap;
}
.breakpoint-tablet-wide .image-gallery,
.breakpoint-tablet .image-gallery,
.breakpoint-phone .image-gallery {
  width: calc(100% + 2rem);
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  margin-left: 0;
}
.image-gallery__item {
  display: block;
  margin-bottom: 2rem;

  flex: 1 1 25%;
}
.breakpoint-tablet .image-gallery__item,
  .breakpoint-phone .image-gallery__item {
  flex: 1 1 50%;
}
.image-gallery__item img {
  display: block;
  width: calc(100% - 2rem);
  margin-right: 2rem;
}
