/**
 * Reset
 */
@import "reset/index";

/**
 * Breakpoints
 */
@import "breakpoints/index";

$breakpoints: (
  phone: 320px,
  tablet: 640px,
  tablet-wide: 768px,
  desktop: 1024px,
  widescreen: 1400px,
);

/**
 * General traits
 */
@import "traits/index";

/**
 * Base
 */

html {
  font-size: 62.5%;
  -webkit-text-size-adjust: none;

  -webkit-font-smoothing: antialiased;
}

@include media(">=tablet", "<desktop") {
  html {
    font-size: 60%;
  }
}

@include media("<tablet") {
  html {
    font-size: 58%;
  }
}

body {
  font-family: $font-base;
  font-size: 1.6rem;
  line-height: 1.4;
  color: $text-color;
}

a {
  color: $primary-color;
  text-decoration: underline;
  transition: color 150ms ease-in-out;
}
a:hover,
a:focus {
  color: $primary-color-darker;
}
a,
button {
  -webkit-tap-highlight-color: transparent;
}
button:focus,
a:focus {
  outline: 1px currentColor dotted;
}
button:hover,
a:hover,
button:active,
a:active {
  outline: none;
}

hr {
  height: 1px;
  border-top: 1px solid $keyline-color;
  border-bottom: none;
}

/**
 * Page transitions
 */

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.anim-fade-in {
  animation-name: fade-in;
  animation-duration: 450ms;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.1);
  animation-iteration-count: 1;

  animation-fill-mode: forwards;
}

/* Input */

.input--error {
  color: #d11413 !important;
  border-color: #d11413 !important;
}
.form-error-message {
  display: block;
  padding-top: 1rem;
  font-size: 1.3rem;
  color: #d11413;
}

/**
 * Misc
 */

@include media("<tablet") {
  .world-heritage-stamp {
    width: 10rem;
    margin-top: 1rem;
  }
}

/* Attempt to standardize `font-size` */
.title-underline {
  font-size: 85%;
}

/**
 * Experiments
 */
#experiment {
  display: none;
}

/**
 * Components
 */

@import "skip-links/index";
@import "masthead/index";
@import "navigation/index";
@import "navigation-mobile/index";
@import "masthead-search/index";
@import "hero-block/index";
@import "copy/index";
@import "parallax/index";
@import "feature-box/index";
@import "grid/index";
@import "section/index";
@import "tile/index";
@import "map-embed/index";
@import "subscribe-block/index";
@import "page-header/index";
@import "text-tile/index";
@import "call-to-action/index";
@import "page-meta/index";
@import "image-gallery/index";
@import "button/index";
@import "info-pullout/index";
@import "share-icons/index";
@import "content-carousel/index";
@import "gallery/index";
@import "alert-box/index";
@import "sales/index";
@import "table/index";
@import "status-table/index";
@import "footer/index";
